<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMICalculator"
        tools:targetApi="31">
        <activity
            android:name="com.encle.emicalculator.Privacy_policy"
            android:exported="false" />
        <activity
            android:name="com.encle.emicalculator.inDetails_Insurance"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Rate_us_Screen"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Insuarance_Main"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Simple_Interest_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Recurring_Deposit_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Fixed_Deposit_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.GST_Calculator"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Salary_Calculator"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.PPF_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Compound_Interest_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Business_Loan_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.EMI_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Splash_Screen_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.encle.emicalculator.Home_Loan_Emi_Calc"
            android:exported="true" />
        <activity
            android:name="com.encle.emicalculator.Splash_Screen"
            android:exported="true" />
    </application>

</manifest>